<a href="https://colab.research.google.com/github/savindumahasen/Regression-Of-Used-Car-Prices/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
## import the train, and test dataset

In [4]:
train_dataset=pd.read_csv("train.csv", encoding='ISO-8859-1')

In [5]:
#test_dataset=pd.read_csv("test.csv")

In [6]:
## check the information of the training dataset

In [7]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188369 entries, 0 to 188368
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188369 non-null  int64
 1   brand         188369 non-null  object
 2   model         188369 non-null  object
 3   model_year    188369 non-null  int64
 4   milage        188369 non-null  int64
 5   fuel_type     183287 non-null  object
 6   engine        188369 non-null  object
 7   transmission  188369 non-null  object
 8   ext_col       188369 non-null  object
 9   int_col       188369 non-null  object
 10  accident      185918 non-null  object
 11  clean_title   166981 non-null  object
 12  price         188369 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [8]:
## check the duplicate records of train dataset

In [9]:
train_dataset.duplicated().sum()

0

## Explotary Data Analysis

In [10]:
train_dataset.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [11]:
## check the value counts of each column

In [12]:
train_dataset['brand'].value_counts()

brand
Ford             23057
Mercedes-Benz    19153
BMW              17018
Chevrolet        16331
Audi             10880
Porsche          10602
Land              9521
Toyota            8834
Lexus             8638
Jeep              6464
Cadillac          4671
RAM               4248
Nissan            3926
Tesla             3737
INFINITI          3275
GMC               3213
Dodge             3127
Mazda             2714
Kia               2495
Lincoln           2422
Subaru            2379
Acura             2280
Honda             2098
Hyundai           2043
Volkswagen        1765
Jaguar            1319
Bentley           1155
MINI              1064
Genesis            969
Buick              939
Maserati           938
Lamborghini        808
Chrysler           725
Volvo              723
Alfa               682
Rivian             590
Rolls-Royce        557
Mitsubishi         549
Pontiac            538
Hummer             520
Ferrari            357
McLaren            243
Aston              238
Saturn             148
Scion              120
Lucid               69
Mercury             57
Lotus               52
FIAT                44
Saab                22
Karma               17
Suzuki               8
Plymouth             7
Polestar             7
Bugatti              7
smart                3
Maybach              3
Name: count, dtype: int64

In [13]:
train_dataset['model'].value_counts()

model
F-150 XLT                        2941
M3 Base                          2228
Camaro 2SS                       1709
M4 Base                          1621
Mustang GT Premium               1525
                                 ...
X3 xDrive35i                        2
X5 xDrive40e                        1
XLR Base                            1
Integra w/A-Spec Tech Package       1
X5 3.0i                             1
Name: count, Length: 1897, dtype: int64

In [14]:
train_dataset['fuel_type'].value_counts()

fuel_type
Gasoline          165814
Hybrid              6828
E85 Flex Fuel       5402
Diesel              3951
?                    757
Plug-In Hybrid       520
not supported         15
Name: count, dtype: int64

In [15]:
train_dataset['engine'].value_counts()

engine
355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel           3462
240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel           2902
420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel           2841
2.0L I4 16V GDI DOHC Turbo                             2677
375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel          2447
                                                       ...
151.0HP 1.5L 4 Cylinder Engine Gas/Electric Hybrid        1
184.0HP 2.4L 4 Cylinder Engine Flex Fuel Capability       1
313.0HP 2.0L 4 Cylinder Engine Plug-In Electric/Gas       1
443.0HP 4.4L 8 Cylinder Engine Gasoline Fuel              1
111.0HP Electric Motor Electric Fuel System               1
Name: count, Length: 1117, dtype: int64

In [16]:
train_dataset['transmission'].value_counts()

transmission
A/T                                                   49852
8-Speed A/T                                           20638
Transmission w/Dual Shift Mode                        19244
6-Speed A/T                                           18034
6-Speed M/T                                           11989
7-Speed A/T                                           11124
Automatic                                             10670
8-Speed Automatic                                      8425
10-Speed A/T                                           8035
9-Speed A/T                                            3865
5-Speed A/T                                            3214
10-Speed Automatic                                     3161
6-Speed Automatic                                      2798
4-Speed A/T                                            2537
5-Speed M/T                                            2406
9-Speed Automatic                                      2323
CVT Transmission                                       1990
1-Speed A/T                                            1868
M/T                                                    1179
7-Speed Automatic with Auto-Shift                      1168
Automatic CVT                                           828
8-Speed Automatic with Auto-Shift                       545
1-Speed Automatic                                       365
7-Speed M/T                                             355
6-Speed Manual                                          211
7-Speed Automatic                                       178
5-Speed Automatic                                       157
Transmission Overdrive Switch                           155
7-Speed Manual                                          151
6-Speed Automatic with Auto-Shift                       111
2                                                        91
?                                                        84
2-Speed A/T                                              71
Variable                                                 66
F                                                        65
4-Speed Automatic                                        48
10-Speed Automatic with Overdrive                        40
6 Speed Mt                                               37
9-Speed Automatic with Auto-Shift                        33
6-Speed Electronically Controlled Automatic with O       31
7-Speed                                                  28
8-Speed Manual                                           28
6-Speed                                                  27
Manual                                                   27
2-Speed Automatic                                        22
6 Speed At/Mt                                            20
7-Speed DCT Automatic                                    18
Single-Speed Fixed Gear                                  16
CVT-F                                                    15
8-SPEED AT                                               13
8-SPEED A/T                                               7
SCHEDULED FOR OR IN PRODUCTION                            6
Name: count, dtype: int64

In [17]:
train_dataset['ext_col'].value_counts()

ext_col
Black                                 48629
White                                 43762
Gray                                  25279
Silver                                16978
Blue                                  14549
                                      ...
Blue Caelum                               5
GT SILVER                                 5
Granite Crystal Metallic Clearcoat        5
BLUE                                      3
Mango Tango Pearlcoat                     2
Name: count, Length: 319, dtype: int64

In [18]:
train_dataset['int_col'].value_counts()

int_col
Black           107657
Beige            24492
Gray             21197
Brown             5810
Red               5144
                 ...
Bianco Polar         7
Classic Red          7
Cobalt Blue          6
WHITE                6
ORANGE               4
Name: count, Length: 156, dtype: int64

In [19]:
train_dataset['accident'].value_counts()

accident
None reported                             144404
At least 1 accident or damage reported     41514
Name: count, dtype: int64

In [20]:
train_dataset['clean_title'].value_counts()

clean_title
Yes    166981
Name: count, dtype: int64

In [21]:
## Text preprocessing

In [22]:
import string
import re

In [23]:

train_dataset['brand']=train_dataset['brand'].apply(lambda x:" ".join(x.lower() for x in x.split()))
train_dataset['brand']

0                  mini
1               lincoln
2             chevrolet
3               genesis
4         mercedes-benz
              ...
188364         cadillac
188365    mercedes-benz
188366    mercedes-benz
188367             audi
188368          porsche
Name: brand, Length: 188369, dtype: object

In [24]:

train_dataset['model']=train_dataset['model'].apply(lambda x:" ".join(x.lower() for x in x.split()))
train_dataset['model']

0                    cooper s base
1                            ls v8
2                silverado 2500 lt
3                 g90 5.0 ultimate
4                      metris base
                    ...
188364       escalade esv platinum
188365    amg c 43 amg c 43 4matic
188366      amg glc 63 base 4matic
188367            s5 3.0t prestige
188368                  macan base
Name: model, Length: 188369, dtype: object

In [25]:

train_dataset['engine']=train_dataset['engine'].apply(lambda x:" ".join(x.lower() for x in x.split()))
train_dataset['engine']

0              172.0hp 1.6l 4 cylinder engine gasoline fuel
1              252.0hp 3.9l 8 cylinder engine gasoline fuel
2         320.0hp 5.3l 8 cylinder engine flex fuel capab...
3              420.0hp 5.0l 8 cylinder engine gasoline fuel
4              208.0hp 2.0l 4 cylinder engine gasoline fuel
                                ...
188364         420.0hp 6.2l 8 cylinder engine gasoline fuel
188365        385.0hp 3.0l v6 cylinder engine gasoline fuel
188366         469.0hp 4.0l 8 cylinder engine gasoline fuel
188367                                                 3.0l
188368         252.0hp 2.0l 4 cylinder engine gasoline fuel
Name: engine, Length: 188369, dtype: object

In [26]:
#train_dataset['ext_col']=train_dataset['ext_col'].apply(lambda x:" ".join(x.lower() for x in x))
#train_dataset['ext_col']

In [27]:

#train_dataset['int_col']=train_dataset['int_col'].apply(lambda x:" ".join(x.lower() for x in x.split()))
#train_dataset['int_col']

In [28]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188369 entries, 0 to 188368
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188369 non-null  int64
 1   brand         188369 non-null  object
 2   model         188369 non-null  object
 3   model_year    188369 non-null  int64
 4   milage        188369 non-null  int64
 5   fuel_type     183287 non-null  object
 6   engine        188369 non-null  object
 7   transmission  188369 non-null  object
 8   ext_col       188369 non-null  object
 9   int_col       188369 non-null  object
 10  accident      185918 non-null  object
 11  clean_title   166981 non-null  object
 12  price         188369 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [29]:
train_dataset['fuel_type'].fillna('not supported', inplace=True)
train_dataset['accident'].fillna('At least 1 accident or damage reported',inplace=True)
train_dataset['transmission'].fillna('8-SPEED A/T', inplace=True)
train_dataset['clean_title'].fillna('yes',inplace=True)

<ipython-input-29-e1443b647431>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['fuel_type'].fillna('not supported', inplace=True)
<ipython-input-29-e1443b647431>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['accident'].fillna('At least 1 accident or damage reported',inplace=True)
<ipython-input-29-e1443b647431>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['transmission'].fillna('8-SPEED A/T', inplace=True)
<ipython-input-29-e1443b647431>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['clean_title'].fillna('yes',inplace=True)

In [30]:
## Remove the punctuation marks from text

In [31]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
## Remove the punctuation marks from text

In [33]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text =text.replace(punctuation, '')
    return text

train_dataset['brand']=train_dataset['brand'].apply(remove_punctuations)
train_dataset['model']=train_dataset['model'].apply(remove_punctuations)
train_dataset['fuel_type']=train_dataset['fuel_type'].apply(remove_punctuations)
train_dataset['engine']=train_dataset['engine'].apply(remove_punctuations)
train_dataset['transmission']=train_dataset['transmission'].apply(remove_punctuations)
train_dataset['ext_col']=train_dataset['ext_col'].apply(remove_punctuations)
train_dataset['int_col']=train_dataset['int_col'].apply(remove_punctuations)

In [34]:
train_dataset.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,mini,cooper s base,2007,213000,Gasoline,1720hp 16l 4 cylinder engine gasoline fuel,AT,Yellow,Gray,None reported,Yes,4200
1,1,lincoln,ls v8,2002,143250,Gasoline,2520hp 39l 8 cylinder engine gasoline fuel,AT,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,chevrolet,silverado 2500 lt,2002,136731,E85 Flex Fuel,3200hp 53l 8 cylinder engine flex fuel capability,AT,Blue,Gray,None reported,Yes,13900
3,3,genesis,g90 50 ultimate,2017,19500,Gasoline,4200hp 50l 8 cylinder engine gasoline fuel,Transmission wDual Shift Mode,Black,Black,None reported,Yes,45000
4,4,mercedesbenz,metris base,2021,7388,Gasoline,2080hp 20l 4 cylinder engine gasoline fuel,7Speed AT,Black,Beige,None reported,Yes,97500

In [35]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188369 entries, 0 to 188368
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188369 non-null  int64
 1   brand         188369 non-null  object
 2   model         188369 non-null  object
 3   model_year    188369 non-null  int64
 4   milage        188369 non-null  int64
 5   fuel_type     188369 non-null  object
 6   engine        188369 non-null  object
 7   transmission  188369 non-null  object
 8   ext_col       188369 non-null  object
 9   int_col       188369 non-null  object
 10  accident      188369 non-null  object
 11  clean_title   188369 non-null  object
 12  price         188369 non-null  int64
dtypes: int64(4), object(9)
memory usage: 18.7+ MB

In [36]:
## Convert the categorical text into numerical values

In [37]:
train_dataset=train_dataset.replace({'fuel_type':{'Gasoline':1, 'Hybrid':2,'E85 Flex Fuel':3,'Diesel':4,'-':5,'Plug-In Hybrid':6,'not supported':7}})
train_dataset['fuel_type']

0         1
1         1
2         3
3         1
4         1
         ..
188364    1
188365    1
188366    1
188367    1
188368    1
Name: fuel_type, Length: 188369, dtype: object

In [38]:
train_dataset['transmission'].value_counts()

transmission
AT                                                   49852
8Speed AT                                            20638
Transmission wDual Shift Mode                        19244
6Speed AT                                            18034
6Speed MT                                            11989
7Speed AT                                            11124
Automatic                                            10670
8Speed Automatic                                      8425
10Speed AT                                            8035
9Speed AT                                             3865
5Speed AT                                             3214
10Speed Automatic                                     3161
6Speed Automatic                                      2798
4Speed AT                                             2537
5Speed MT                                             2406
9Speed Automatic                                      2323
CVT Transmission                                      1990
1Speed AT                                             1868
MT                                                    1179
7Speed Automatic with AutoShift                       1168
Automatic CVT                                          828
8Speed Automatic with AutoShift                        545
1Speed Automatic                                       365
7Speed MT                                              355
6Speed Manual                                          211
7Speed Automatic                                       178
5Speed Automatic                                       157
Transmission Overdrive Switch                          155
7Speed Manual                                          151
6Speed Automatic with AutoShift                        111
2                                                       91
                                                        84
2Speed AT                                               71
Variable                                                66
F                                                       65
4Speed Automatic                                        48
10Speed Automatic with Overdrive                        40
6 Speed Mt                                              37
9Speed Automatic with AutoShift                         33
6Speed Electronically Controlled Automatic with O       31
7Speed                                                  28
8Speed Manual                                           28
6Speed                                                  27
Manual                                                  27
2Speed Automatic                                        22
8SPEED AT                                               20
6 Speed AtMt                                            20
7Speed DCT Automatic                                    18
SingleSpeed Fixed Gear                                  16
CVTF                                                    15
SCHEDULED FOR OR IN PRODUCTION                           6
Name: count, dtype: int64

In [39]:
train_dataset= train_dataset.replace({'transmission':{'AT':1,'8Speed AT':2,'Transmission wDual Shift Mode':3,'1Speed Automatic':4,'7Speed MT':5,
                                      '6Speed Automatic with AutoShift':6 ,'-':7,'2Speed AT':8,'Variable':9,'F':10,
                                       '4Speed Automatic':11,'10Speed Automatic with Overdrive':12,'6Speed MT':13,
                                       '9Speed Automatic with AutoShift':14,'6Speed Electronically Controlled Automatic with O':15,
                                       '7Speed':16,'8Speed Manual':17,'Manual':18,'6Speed':19,'2Speed Automatic':20,'6 Speed AtMt':21,
                                        '7Speed DCT Automatic':22,'SingleSpeed Fixed Gear':23,'CVTF':24,'8SPEED AT':25,'8SPEED AT':26,
                                        'SCHEDULED FOR OR IN PRODUCTION':27,'7Speed AT':28,'6Speed AT':29,'Automatic':30,'8Speed Automatic':31,
                                         '10Speed AT':32,'9Speed AT':33,'5Speed AT':34,'10Speed Automatic':35,'6Speed Automatic':36,
                                          '4Speed AT':37,'5Speed MT':38,'9Speed Automatic':39,'CVT Transmission':40,'1Speed AT':41,
                                          'MT':42,'7Speed Automatic with AutoShift':43,'Automatic CVT':44,'8Speed Automatic with AutoShift':45,
                                          '6Speed Manual':46,'7Speed Automatic':47,'5Speed Automatic':48,'Transmission Overdrive Switch':49,
                                          '7Speed Manual':50,'6 Speed Mt':51, 'Transmission wDu':52}})

In [40]:
train_dataset['transmission'].value_counts()

transmission
1     49852
2     20638
3     19244
29    18034
13    11989
28    11124
30    10670
31     8425
32     8035
33     3865
34     3214
35     3161
36     2798
37     2537
38     2406
39     2323
40     1990
41     1868
42     1179
43     1168
44      828
45      545
4       365
5       355
46      211
47      178
48      157
49      155
50      151
6       111
2        91
         84
8        71
9        66
10       65
11       48
12       40
51       37
14       33
15       31
16       28
17       28
19       27
18       27
20       22
26       20
21       20
22       18
23       16
24       15
27        6
Name: count, dtype: int64

In [41]:
train_dataset.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,mini,cooper s base,2007,213000,1,1720hp 16l 4 cylinder engine gasoline fuel,1,Yellow,Gray,None reported,Yes,4200
1,1,lincoln,ls v8,2002,143250,1,2520hp 39l 8 cylinder engine gasoline fuel,1,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,chevrolet,silverado 2500 lt,2002,136731,3,3200hp 53l 8 cylinder engine flex fuel capability,1,Blue,Gray,None reported,Yes,13900
3,3,genesis,g90 50 ultimate,2017,19500,1,4200hp 50l 8 cylinder engine gasoline fuel,3,Black,Black,None reported,Yes,45000
4,4,mercedesbenz,metris base,2021,7388,1,2080hp 20l 4 cylinder engine gasoline fuel,28,Black,Beige,None reported,Yes,97500

In [42]:
train_dataset['accident'].value_counts()

accident
None reported                             144404
At least 1 accident or damage reported     43965
Name: count, dtype: int64

In [43]:
train_dataset=train_dataset.replace({'accident':{'None reported':1,'At least 1 accident or damage reported':2}})
train_dataset['accident'].head()

<ipython-input-43-d9db0c1aab3d>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_dataset=train_dataset.replace({'accident':{'None reported':1,'At least 1 accident or damage reported':2}})

0    1
1    2
2    1
3    1
4    1
Name: accident, dtype: int64

In [44]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188369 entries, 0 to 188368
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188369 non-null  int64
 1   brand         188369 non-null  object
 2   model         188369 non-null  object
 3   model_year    188369 non-null  int64
 4   milage        188369 non-null  int64
 5   fuel_type     188369 non-null  object
 6   engine        188369 non-null  object
 7   transmission  188369 non-null  object
 8   ext_col       188369 non-null  object
 9   int_col       188369 non-null  object
 10  accident      188369 non-null  int64
 11  clean_title   188369 non-null  object
 12  price         188369 non-null  int64
dtypes: int64(5), object(8)
memory usage: 18.7+ MB

In [45]:
train_dataset['clean_title'].value_counts()

clean_title
Yes    166981
yes     21388
Name: count, dtype: int64

In [46]:
train_dataset=train_dataset.replace({'clean_title':{'Yes':1}})
train_dataset['clean_title'].head()

0    1
1    1
2    1
3    1
4    1
Name: clean_title, dtype: object

In [47]:
train_dataset.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,mini,cooper s base,2007,213000,1,1720hp 16l 4 cylinder engine gasoline fuel,1,Yellow,Gray,1,1,4200
1,1,lincoln,ls v8,2002,143250,1,2520hp 39l 8 cylinder engine gasoline fuel,1,Silver,Beige,2,1,4999
2,2,chevrolet,silverado 2500 lt,2002,136731,3,3200hp 53l 8 cylinder engine flex fuel capability,1,Blue,Gray,1,1,13900
3,3,genesis,g90 50 ultimate,2017,19500,1,4200hp 50l 8 cylinder engine gasoline fuel,3,Black,Black,1,1,45000
4,4,mercedesbenz,metris base,2021,7388,1,2080hp 20l 4 cylinder engine gasoline fuel,28,Black,Beige,1,1,97500

In [48]:
train_dataset['brand'].value_counts()

brand
ford            23057
mercedesbenz    19153
bmw             17018
chevrolet       16331
audi            10880
porsche         10602
land             9521
toyota           8834
lexus            8638
jeep             6464
cadillac         4671
ram              4248
nissan           3926
tesla            3737
infiniti         3275
gmc              3213
dodge            3127
mazda            2714
kia              2495
lincoln          2422
subaru           2379
acura            2280
honda            2098
hyundai          2043
volkswagen       1765
jaguar           1319
bentley          1155
mini             1064
genesis           969
buick             939
maserati          938
lamborghini       808
chrysler          725
volvo             723
alfa              682
rivian            590
rollsroyce        557
mitsubishi        549
pontiac           538
hummer            520
ferrari           357
mclaren           243
aston             238
saturn            148
scion             120
lucid              69
mercury            57
lotus              52
fiat               44
saab               22
karma              17
suzuki              8
plymouth            7
polestar            7
bugatti             7
smart               3
maybach             3
Name: count, dtype: int64

In [54]:
train_dataset=train_dataset.replace({'brand':{'ford':1,'mercedesbenz':2,'bmw':3,'chevrolet':4,'audi':5,'porsche':6,'land':7,
                                              'toyota':8,'lexus':9,'infiniti':10,'gmc':11,'dodge':12,'mazda':13,'kia':14,
                                              'lincoln':15,'subaru':16,'acura':17,'honda':18,'hyundai':19,'volkswagen':20,
                                              'jaguar':21,'bentley':22,'mini':23,'genesis':24,'buick':25,'maserati':26,'lamborghini':27,
                                              'chrysler':28,'volvo':29,'alfa':30,'rivian':31,'rollsroyce':32,'mitsubishi':33,'pontiac':34,
                                             'hummer':35,'ferrari':36,'mclaren':37,'aston':38,'saturn':39,'scion':40,'lucid':41,'mercury':42,
                                              'lotus':43,'fiat':44,'saab':44,'karma':45,'suzuki':46,'plymouth':47,'polestar':48,'bugatti':49,'maybach':50,
                                              'jeep':51,'cadillac':52,'ram':53,'nissan':54,'tesla':55,'smart':56}})

<ipython-input-54-8e2b2d046081>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_dataset=train_dataset.replace({'brand':{'ford':1,'mercedesbenz':2,'bmw':3,'chevrolet':4,'audi':5,'porsche':6,'land':7,

In [55]:
train_dataset['brand'].value_counts()

brand
1     23057
2     19153
3     17018
4     16331
5     10880
6     10602
7      9521
8      8834
9      8638
51     6464
52     4671
53     4248
54     3926
55     3737
10     3275
11     3213
12     3127
13     2714
14     2495
15     2422
16     2379
17     2280
18     2098
19     2043
20     1765
21     1319
22     1155
23     1064
24      969
25      939
26      938
27      808
28      725
29      723
30      682
31      590
32      557
33      549
34      538
35      520
36      357
37      243
38      238
39      148
40      120
41       69
44       66
42       57
43       52
45       17
46        8
47        7
48        7
49        7
56        3
50        3
Name: count, dtype: int64

In [56]:
train_dataset.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,23,cooper s base,2007,213000,1,1720hp 16l 4 cylinder engine gasoline fuel,1,Yellow,Gray,1,1,4200
1,1,15,ls v8,2002,143250,1,2520hp 39l 8 cylinder engine gasoline fuel,1,Silver,Beige,2,1,4999
2,2,4,silverado 2500 lt,2002,136731,3,3200hp 53l 8 cylinder engine flex fuel capability,1,Blue,Gray,1,1,13900
3,3,24,g90 50 ultimate,2017,19500,1,4200hp 50l 8 cylinder engine gasoline fuel,3,Black,Black,1,1,45000
4,4,2,metris base,2021,7388,1,2080hp 20l 4 cylinder engine gasoline fuel,28,Black,Beige,1,1,97500

In [52]:
train_dataset['ext_col'].value_counts()

ext_col
Black                                 48629
White                                 43762
Gray                                  25279
Silver                                16978
Blue                                  14549
                                      ...
Blue Caelum                               5
GT SILVER                                 5
Granite Crystal Metallic Clearcoat        5
BLUE                                      3
Mango Tango Pearlcoat                     2
Name: count, Length: 319, dtype: int64

In [53]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188369 entries, 0 to 188368
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            188369 non-null  int64
 1   brand         188369 non-null  object
 2   model         188369 non-null  object
 3   model_year    188369 non-null  int64
 4   milage        188369 non-null  int64
 5   fuel_type     188369 non-null  object
 6   engine        188369 non-null  object
 7   transmission  188369 non-null  object
 8   ext_col       188369 non-null  object
 9   int_col       188369 non-null  object
 10  accident      188369 non-null  int64
 11  clean_title   188369 non-null  object
 12  price         188369 non-null  int64
dtypes: int64(5), object(8)
memory usage: 18.7+ MB

In [58]:
## text vectorization

In [64]:
### Create the vocabulary

In [59]:
from collections import Counter

vocab = Counter()

In [62]:
for model in train_dataset['model']:
  vocab.update(model.split())

In [65]:
len(vocab)

1144

In [67]:
for engine in train_dataset['engine']:
  vocab.update(engine.split())

In [68]:
len(vocab)

1615

In [69]:
for ext_col in train_dataset['ext_col']:
  vocab.update(ext_col.split())

In [72]:
len(vocab)

1897

In [73]:
for int_col in train_dataset['int_col']:
  vocab.update(int_col.split())

In [74]:
len(vocab)

2003

In [66]:
len(train_dataset)

188369