<a href="https://colab.research.google.com/github/savindumahasen/Regression-Of-Used-Car-Prices/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
## import the train, test dataset and read the first five records

In [2]:
train_dataset=pd.read_csv("train.csv")

In [3]:
test_dataset=pd.read_csv("test.csv")

In [4]:
## check the information of the training dataset

In [5]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14347 entries, 0 to 14346
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            14347 non-null  int64
 1   brand         14347 non-null  object
 2   model         14347 non-null  object
 3   model_year    14347 non-null  int64
 4   milage        14347 non-null  int64
 5   fuel_type     13958 non-null  object
 6   engine        14347 non-null  object
 7   transmission  14347 non-null  object
 8   ext_col       14347 non-null  object
 9   int_col       14347 non-null  object
 10  accident      14155 non-null  object
 11  clean_title   12752 non-null  object
 12  price         14346 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.4+ MB