<a href="https://colab.research.google.com/github/savindumahasen/Regression-Of-Used-Car-Prices/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
## import the train, and test dataset

In [2]:
train_dataset=pd.read_csv("train.csv")

In [3]:
test_dataset=pd.read_csv("test.csv")

In [4]:
## check the information of the training dataset

In [5]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14347 entries, 0 to 14346
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            14347 non-null  int64
 1   brand         14347 non-null  object
 2   model         14347 non-null  object
 3   model_year    14347 non-null  int64
 4   milage        14347 non-null  int64
 5   fuel_type     13958 non-null  object
 6   engine        14347 non-null  object
 7   transmission  14347 non-null  object
 8   ext_col       14347 non-null  object
 9   int_col       14347 non-null  object
 10  accident      14155 non-null  object
 11  clean_title   12752 non-null  object
 12  price         14346 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.4+ MB

In [6]:
## check the duplicate records of train dataset

In [7]:
train_dataset.duplicated().sum()

0

## Explotary Data Analysis

In [13]:
train_dataset.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200.0
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999.0
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900.0
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000.0
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500.0

In [11]:
## check the value counts of each column

In [12]:
train_dataset['brand'].value_counts()

brand
Ford             1805
Mercedes-Benz    1477
BMW              1291
Chevrolet        1197
Audi              835
Porsche           802
Toyota            701
Land              681
Lexus             647
Jeep              495
Cadillac          355
Nissan            330
RAM               311
Tesla             285
INFINITI          253
Dodge             236
GMC               216
Mazda             213
Subaru            177
Honda             174
Kia               171
Hyundai           166
Acura             163
Lincoln           160
Volkswagen        126
Jaguar            109
MINI               92
Bentley            86
Genesis            79
Maserati           71
Lamborghini        66
Buick              65
Alfa               65
Chrysler           57
Hummer             53
Volvo              53
Mitsubishi         48
Pontiac            47
Rivian             41
Rolls-Royce        37
Ferrari            33
McLaren            20
Aston              19
Saturn             16
Scion               7
Lucid               6
Lotus               3
FIAT                3
smart               1
Karma               1
Plymouth            1
Suzuki              1
Name: count, dtype: int64

In [14]:
train_dataset['model'].value_counts()

model
F-150 XLT                      235
M3 Base                        164
Camaro 2SS                     135
F-150 Lariat                   119
Mustang GT Premium             117
                              ...
A4 3.2 Premium Plus quattro      1
Revero Base                      1
X4 xDrive30i                     1
Golf GTI 2.0T Autobahn           1
Levante S                        1
Name: count, Length: 1654, dtype: int64

In [15]:
train_dataset['fuel_type'].value_counts()

fuel_type
Gasoline          12618
Hybrid              522
E85 Flex Fuel       407
Diesel              318
Plug-In Hybrid       47
–                    45
not supported         1
Name: count, dtype: int64

In [16]:
train_dataset['engine'].value_counts()

engine
355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel             235
420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel             221
240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel             219
2.0L I4 16V GDI DOHC Turbo                               203
375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel            183
                                                        ...
808.0HP 6.2L 8 Cylinder Engine Gasoline Fuel               1
200.0HP 2.2L 4 Cylinder Engine Gasoline Fuel               1
326.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel      1
276.0HP 3.6L V6 Cylinder Engine Gasoline Fuel              1
552.0HP 6.0L 12 Cylinder Engine Flex Fuel Capability       1
Name: count, Length: 974, dtype: int64

In [17]:
train_dataset['transmission'].value_counts()

transmission
A/T                                                   3849
8-Speed A/T                                           1556
Transmission w/Dual Shift Mode                        1458
6-Speed A/T                                           1331
6-Speed M/T                                            942
7-Speed A/T                                            835
Automatic                                              818
8-Speed Automatic                                      613
10-Speed A/T                                           593
9-Speed A/T                                            308
5-Speed A/T                                            244
10-Speed Automatic                                     242
6-Speed Automatic                                      224
4-Speed A/T                                            221
5-Speed M/T                                            178
9-Speed Automatic                                      173
1-Speed A/T                                            141
CVT Transmission                                       127
M/T                                                    102
7-Speed Automatic with Auto-Shift                       90
Automatic CVT                                           59
8-Speed Automatic with Auto-Shift                       41
7-Speed M/T                                             31
6-Speed Manual                                          27
1-Speed Automatic                                       23
7-Speed Automatic                                       11
–                                                       11
Transmission Overdrive Switch                           10
7-Speed Manual                                          10
5-Speed Automatic                                        8
F                                                        8
2                                                        7
6-Speed Automatic with Auto-Shift                        7
2-Speed A/T                                              6
4-Speed Automatic                                        6
Variable                                                 5
10-Speed Automatic with Overdrive                        5
Manual                                                   4
6-Speed Electronically Controlled Automatic with O       3
8-Speed Manual                                           3
9-Speed Automatic with Auto-Shift                        3
2-Speed Automatic                                        3
7-Speed                                                  3
CVT-F                                                    2
7-Speed DCT Automatic                                    2
6 Speed At/Mt                                            1
8-SPEED A/T                                              1
Single-Speed Fixed Gear                                  1
8-SPEED AT                                               1
Name: count, dtype: int64

In [18]:
train_dataset['ext_col'].value_counts()

ext_col
Black                          3737
White                          3334
Gray                           1905
Silver                         1283
Blue                           1125
                               ...
Bianco Isis                       1
Pure White                        1
Baltic Gray                       1
Frozen Dark Silver Metallic       1
Balloon White                     1
Name: count, Length: 271, dtype: int64

In [19]:
train_dataset['int_col'].value_counts()

int_col
Black             8140
Beige             1906
Gray              1642
Brown              444
Red                385
                  ...
Brandy               1
Light Titanium       1
Dark Ash             1
Cappuccino           1
Red/Black            1
Name: count, Length: 138, dtype: int64

In [20]:
train_dataset['accident'].value_counts()

accident
None reported                             10971
At least 1 accident or damage reported     3184
Name: count, dtype: int64

In [21]:
train_dataset['clean_title'].value_counts()

clean_title
Yes    12752
Name: count, dtype: int64